{{define "title"}}Search{{end}}

{{define "main"}}
    {{if .Snippets}}
    <h2>Returned Snippets</h2>
     <table>
        <tr>
            <th>Title</th>
            <th>Created</th>
            <th>Author</th>
        </tr>
        {{range .Snippets}}
        <tr>
            <td><a href='/snippet/view/{{.ID}}'>{{.Title}}</a></td>
            <td>{{humanDate .Created}}</td>
            <td>{{.Author}}</td>
        </tr>
        {{end}}
    </table>
    {{else}}
		<form action='/search' method='POST' novalidate>
			<input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
			<div>
				<label>Title:</label>
				<input type='text' name='title' value='{{.Form.Title}}'>
			</div>
			<div>
				<label>Author:</label>
				<input type='text' name='author' value='{{.Form.Author}}'>
			</div>
			<div>
				{{with .Form.FieldErrors.search}}
					<label class='error'>{{.}}</label>
				{{end}}
				<input type='submit' value='Search'>
			</div>
		</form>
    {{end}}
{{end}}

